* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.head-container {
    background-color: cadetblue;
    max-width: 3000px;
    display: flex;
    text-align: center;
    padding: 20px;
    justify-content: center;
}

.row-head-1, .row-head-2, .row-head-3 {
    background-color: orange;
    padding-bottom: 5px;
    padding-top: 5px;
    border: solid 2px;
    border-style: dashed;
}

.row-head-1 {   
    padding-left: 5px;
    padding-right: 150px;
}

.row-head-2 {
    padding-left: 350px;
    padding-right: 350px;
}

.row-head-3 {
    padding-left: 150px;
    padding-right: 5px;   
}

.main-container-1 {
    background-color: blue;
    max-width: 3000px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 3px;
    border-color: cadetblue;
}

.row-main-1 {
    background-color: rgb(185, 76, 185);
    border: solid 2px;
    border-style: dashed;
    padding: 50px;
    padding-top: 300px;
    margin-left: 500px;
    margin-right: 500px;
}

.main-container-2 {
    max-width: 3000px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.col-main-1 {
    background-color: dodgerblue;
    border: solid 2px;
    border-style: dashed;
    padding: 50px;
    padding-top: 500px;
    padding-left: 700px;
    margin-left: 300px;
}

.col-main-2 {
    background-color: pink;
    border: solid 2px;
    border-style: dashed;
    padding: 50px;
    padding-top: 500px;
    padding-left: 500px;
}

.main-container-3 {
    background-color: grey;
    max-width: 3000px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.col-main-3 {
    background-color: pink;
    border: solid 2px;
    border-style: dashed;
    padding: 50px;
    padding-top: 500px;
    padding-left: 500px;
    margin-left: 300px;
}

.col-main-4 {
    background-color: dodgerblue;
    border: solid 2px;
    border-style: dashed;
    padding: 50px;
    padding-top: 500px;
    padding-left: 700px;
}

.main-container-4 {
    background-color: grey;
    max-width: 3000px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.row-main-2 {
    background-color: green;
    border: solid 2px;
    border-style: dashed;
    padding: 50px;
    padding-top: 427px;
    padding-bottom: 427px;
    margin-left: 300px;
    margin-right: 300px;
}

.main-container-5 {
    background-color: black;
    max-width: 3000px;
    padding-top: 10px;
    padding-bottom: 50px;
    border-bottom: solid 3px;
    border-color: grey;
}

.row-main-3 {
    display: flex;
}

.col-main-5 {
    background-color: red;
    border: solid 2px;
    border-style: dashed;
    padding: 50px;
    padding-top: 500px;
    padding-left: 300px;
    margin-left: 300px;
}

.col-main-6 {
    background-color: cadetblue;
    border: solid 2px;
    border-style: dashed;
    display: flex;
}

.border-white {
    border: solid 2px;
    border-style: dashed;
    border-color: white;
    padding: 50px;
    padding-left: 180px;
}

.footer-container {
    background-color: black;
    max-width: 3000px;
    padding-top: 30px;
    border-bottom: solid 1px;
    border-color: grey;
}

.row-footer {
    background-color: aquamarine;
    margin-right: 300px;
    margin-left: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}

.col-foot-1 {
    background-color: red;
    border: solid 2px;
    border-style: dashed;
    padding: 2px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.col-foot-2 {
    background-color: red;
    border: solid 2px;
    border-style: dashed;
    padding: 2px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1153px;
}